:root {
    --bg-color: rgba(226, 226, 226, 0.099);
}

/* css resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* general styling */

body {
    background-color: #181818;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    height: 90%;
}

.title {
    font-family: monospace, sans-serif;
    font-size: 3rem;
    color: rgb(218, 218, 218);
}

/* utilities */
.flex-row {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
}

.flex-row-keeb {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    margin-bottom: 0.75rem;
}

/* board styling */

.board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgba(226, 226, 226, 0.099) 3px;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace, sans-serif;
    color: rgb(218, 218, 218);
    transition: all 200ms ease-in;
}

.wrong {
    border-color: rgb(213, 77, 43);
}

/* spinner */
.loader {
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, rgb(218, 218, 218));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 0.45rem), #000 0);
    animation: spin 1s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.active {
    visibility: hidden;
}

/* keyboard styling */
.keyboard-container {
    display: flex;
    flex-direction: column;

}

.key {
    color: rgb(218, 218, 218);
    font-weight: 700;
    font-size: 2rem;
    font-family: monospace, sans-serif;
    text-transform: uppercase;
    background-color: var(--bg-color);
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

@media screen and (max-width: 760px) {
    .tile {
        height: auto;
        width: 14vw;
        max-width: 5rem;
        aspect-ratio: 1 / 1;
        
    }

    .key {
        font-size: 1.5rem;
        padding: 1rem 2.5vw;
    }
}

@media screen and (max-width: 510px) {
    .key {
        font-size: 1rem;
        padding: 2.5vw;
    }

    .title {
        font-size: 2rem;
    }

    .tile {
        font-size: 1.75rem;
    }
    
    .loader {
        height: 1.5rem;
        width: 1.5rem;
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 0.2rem), #000 0);
        margin-bottom: 1rem;
    }

    .board-container {
        margin: 0 0 2rem 0;
    }

    .flex-row-keeb, .flex-row {
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* validate letter colors */
.grey {
    background-color: rgb(135, 137, 138);
}

.yellow {
    background-color: rgb(183, 167, 74);
}

.green {
    background-color: rgb(72, 146, 72);
}